<div data-region="assignsubmission_tipnc">
    <a class="btn btn-primary mb-4" href="{{ url }}" target="_blank">{{ strbutton }}</a>
    <div class="hide_header"></div>
    <iframe class='tipnc-iframe' src="{{ url }}" width="100%" height="100%" align="top" frameborder="0"></iframe>
</div>
{{#js}}
    require(['jquery'], function($) {

            $('.tipnc-iframe div div').show(false);

    });
{{/js}}



